/* RESPONSIVO */
@media (max-width: 768px) {
    .header {
        background-color: var(--vermelho);
        position: fixed;
        z-index: 99;
        gap: 2px;
        border-bottom: 2px solid var(--amarelo);
    }

    .header section {
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 2px;
        flex-direction: row;
    }

    .header img {
        margin-left: 10px;
        width: 110px;
        height: 120px;
    }

    .navbar {
        display: flex;
        gap: 2px;
        /* Espaçamento entre os links */
        align-items: center;
        flex-direction: row;
        /* Deixa os itens lado a lado */
    }


    .navbar a {
        color: var(--branco);
        font-size: 14px;
        cursor: pointer;
        gap: 20px;
    }

    .header .navbar a:hover {
        color: var(--amarelo);
        font-size: 15px;
        border-bottom: 2px solid var(--amarelo);
        padding-bottom: 5px;
    }

    .header .button {
        color: var(--branco);
        font-size: 25px;
        cursor: pointer;
        align-items: center;
        background-color: var(--vermelho);
        display: flex;
        margin-right: 17px;
    }

    .header .button i:hover {
        color: var(--amarelo);
        font-size: 29px;
        cursor: pointer;
        align-items: center;
        background-color: var(--vermelho);
    }


    .home-container .content {
        padding: 1rem;
    }

    .title {
        text-align: center;
        font-size: 28px;
        white-space: nowrap;
    }

    .menu .box-servico {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        /* Adiciona algum espaçamento interno */
        flex-wrap: wrap;
    }

    .menu .box-servico .servico {
        text-align: center;
        background-color: var(--vermelho);
        cursor: pointer;
        border-radius: 10px;
        width: 100%;
        max-width: 500px;
        /* Largura máxima de cada serviço */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
    }

    .menu .box-servico .servico h3 {
        color: var(--cinza-escuro);
        font-size: 22px;
        white-space: wrap;
        padding: 1rem 0;
    }

    .footer {
        background-color: var(--vermelho);
        top: 0;
        left: 0;
        right: 0;
    }

    .footer section {
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 1px;
        padding-bottom: 1px;
    }

    .icon i {
        font-size: 29px;
        color: var(--branco);
        padding: 5px;
    }

    .icon i:hover {
        font-size: 30px;
        color: var(--amarelo);
    }

    .funcio h3 {
        text-align: center;
        font-size: 12px;
        color: var(--branco);
    }

    .funcio h3:hover {
        font-size: 14px;
        color: var(--amarelo);
        border-bottom: 1px solid var(--amarelo);
        padding-bottom: 1px;
    }

    .content h3 {
        font-size: 16px;
        color: var(--branco);
    }

    .content h3:hover {
        font-size: 18px;
        color: var(--amarelo);
        border-bottom: 1px solid var(--amarelo);
        padding-bottom: 1px;
    }


    .carrinho {
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        width: 95%;
        height: 100%;
        background: #fff;
        box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
        z-index: 10000;
        padding: 20px;
        overflow-y: auto;
    }

    .carrinho.ativo {
        display: block;
    }

    .carrinho-content {
        background-color: var(--amarelo);
        padding: 20px;
        border-radius: 10px;
        max-width: 600px;
        margin: auto;
    }

    .carrinho-content h2 {
        text-align: center;
        margin-bottom: 3px;
    }

    .observacoes {
        margin-bottom: 3px;
    }

    .observacoes label {
        white-space: nowrap;
        font-size: 12px;
        font-weight: 600;
    }

    .itens-carrinho {
        margin-bottom: 20px;
        font-size: 13px;
    }

    .itens-carrinho .item {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
    }

    .itens-carrinho .item span {
        font-size: 16px;
    }

    #observacao {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .acoes {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .voltar-btn {
        font-size: 12px;
    }

    .total {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .finalizar-pedido {
        white-space: nowrap;
        font-size: 12px;
    }

    button {
        padding: 10px 20px;
        background-color: var(--vermelho);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: var(--vermelho);
    }

    /* Estilos do botão de adicionar ao carrinho */
    .add-to-cart {
        cursor: pointer;
    }



    .frete input {
        border: none;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    .frete p {
        margin-top: 3px;
    }

    .item {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }

    .quantidade-preco {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        margin-top: 5px;
    }

    .quantidade-controle {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .quantidade-controle button {
        background-color: #ff9900;
        border: none;
        color: white;
        font-size: 18px;
        padding: 4px 10px;
        border-radius: 4px;
        cursor: pointer;
    }

    .quantidade {
        font-weight: bold;
        font-size: 16px;
        width: 24px;
        text-align: center;
    }

    .preco-produto {
        font-weight: bold;
        color: #333;
        font-size: 16px;
    }

}

@media (max-width: 390px) {
    .header {
        background-color: var(--vermelho);
        position: fixed;
        z-index: 99;
        gap: 2px;
        border-bottom: 2px solid var(--amarelo);
    }

    .header section {
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 2px;
        flex-direction: row;
    }

    .header img {
        margin-left: 10px;
        width: 110px;
        height: 120px;
    }

    .navbar {
        display: flex;
        gap: 2px;
        /* Espaçamento entre os links */
        align-items: center;
        flex-direction: row;
        /* Deixa os itens lado a lado */
    }


    .navbar a {
        color: var(--branco);
        font-size: 14px;
        cursor: pointer;
        gap: 20px;
    }

    .header .navbar a:hover {
        color: var(--amarelo);
        font-size: 15px;
        border-bottom: 2px solid var(--amarelo);
        padding-bottom: 5px;
    }

    .header .button {
        color: var(--branco);
        font-size: 25px;
        cursor: pointer;
        align-items: center;
        background-color: var(--vermelho);
        display: flex;
        margin-right: 17px;
    }

    .header .button i:hover {
        color: var(--amarelo);
        font-size: 29px;
        cursor: pointer;
        align-items: center;
        background-color: var(--vermelho);
    }

    .menu .box-servico .servico img {
        height: 230px;
        width: 230px;
        object-fit: cover;
        border-radius: 50%;
    }
}